extends layout

block content
  table(class='table table-striped table-bordered')
    //- tr
    //-   th.player Player
    //-   th.name Name
    //-   th.game Game
    //-   th.collisions Collisions
    //-   th.seconds Seconds
    - for (var i = 0; i < records.length; i++) {
    tr
      td.rank= i + 1
      td.player= records[i].player_id__c
      //- td.name= records[i].Name
      //- td.player= records[i].game_id__c
      //- td.collisions= records[i].collisions__c
      td.seconds= records[i].seconds__c + " seconds"
    - }
