doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container')
      block content
