.container
  font-size: 24px
  padding-left: 0 !important
  padding-right: 0 !important
  width: 1024px !important

.table-striped>tbody>tr:nth-child(odd)>td
  background-color: #FFE08D

.leader-title-checker
  background-image: url("/images/leader-title-checker.png")
  background-repeat: no-repeat
  height: 74px

.leader-title-bg
  background-image: url("/images/leader-title-bg.png")
  background-repeat: no-repeat
  height: 74px

h2
  color: #ffffff
  font-size: 40px
  padding: 5px 0 15px 30px
  text-align: left

.leader-title-bg
  font-weight: bold

p
  color: #ffffff
  margin: -30px 35px 0px
  font-size: 22px

a
  color: #ef791a

a:hover
  color: #ef791a
  text-decoration: none
